body {
  font-family: sans-serif;
}

code{
  background-color: #d8d8e0;
  padding: 0.2em;
}

blockquote{
  background-color: rgb(255, 251, 212);
  padding: 2em;
  margin: 2em 0;
}

#clickme {
  display:block;
  padding: 20px 50px;
  background-color: #ff003a;
  border: none;
  border-radius: 5px;
  color:white;
  font-size: 2em;
  cursor: pointer;
}

#clickme:hover {
  background-color: #ff547c;
}

.success-msg {
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}
